/* Reset margins and paddings for all elements */
* {
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Source Serif Pro', serif;
}

.background {
	background-image: url("../images/bg2.jpg");
	background-position: center;
	background-size: cover;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	filter: blur(1px);
  	-webkit-filter: blur(1px);
}

.background-overlay {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
}

.header {
	width: 100%;
}

.main {
	height: 100vh;
}

.headerText{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    letter-spacing: 10px;
    font-family: 'Source Serif Pro', serif;
    margin-bottom: 3px;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    color: white;
	text-shadow:0 4px 3px rgba(0,0,0,0.4),
				0 8px 13px rgba(0,0,0,0.1),
				0 18px 23px rgba(0,0,0,0.1)
}

.navButton {
	padding: 6px;
    font-weight: bold;
    font-family: 'Source Serif Pro', serif;
	border: 2px solid black;
	border-radius: 8px;
	width: 80px;
	letter-spacing: 1px;
    color: black;
    text-decoration: none;
	text-align: center;
	margin: 0 15px;
}

.navButton:hover {
  background-color: rgb(217, 217, 217);
}

.nav {
    position: -webkit-sticky;
    position: sticky;
	padding: 10px;
    top: 0;
    width: 100%;
	z-index: 1;
    background-color: rgb(242, 242, 242,0.5);
	display: flex;
	justify-content: center;
}

.where{
    width: 50%;
    margin: 10px auto;
    text-align: center;
    padding-top: 65px;
	padding-bottom: 50px;
    background-color: rgb(242, 242, 242, 0.5);
	border-radius: 3px;
	line-height: 2;
	font-weight: 600;
}

.why{
    margin: auto;
    text-align: center;
    padding-top: 65px;
	padding-bottom: 50px;
    width: 50%;
	background-color: rgb(242, 242, 242, 0.5);
	border-radius: 3px;
	line-height: 2;
	font-weight: 600;
}

.title{
	padding-bottom: 10px;
	text-shadow: 0 4px 3px rgba(0,0,0,0.4),
				0 8px 13px rgba(0,0,0,0.1),
				0 18px 23px rgba(0,0,0,0.1)
}

.link{
	text-decoration: none;
	color:#000066;
}
